
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr *ngFor='let  e of emp'>
                    <th>No</th>
                    <th>Name</th>
                    <th>Age</th>
                
            </tr>
        </thead>
        <tbody>
            
                    <tr *ngFor='let  e of emp'>
                            <td>{{e.No}}</td>
                            <td>{{e.Name}}</td>
                            <td>{{e.Age}}</td>
                        <td><a routerLink="/edit/{{e.No}}">Edit</a></td>
                        <td><a routerLink="/delete/{{e.No}}">Delete</a></td>
                    </tr>
        </tbody>
    </table>
</div>
